.contenedor-simbolo {
    display: flex;
    margin: 4px 8px;
    width: 80px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1.3em;
    cursor: pointer;
}

.contenedor-simbolo.operador {
    background-color: rgb(60, 60, 60);
}

.contenedor-simbolo.operador:hover {
    background-color: rgb(112, 133, 133);
}

.contenedor-simbolo.numeros {
    background-color: rgb(0, 144, 137);
}

.contenedor-simbolo.numeros:hover {
    background-color: rgb(0, 181, 172);
}