.pantalla {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    height: 80px;
    width: 380px;
    background-color: #0a0a0a;
    border: 2px solid rgb(60, 60, 60);
    border-radius: 10px;
    margin: 30px 25px;
    font-size: 2.7em;
    /* letter-spacing: 0.2px; Ver que onda esta propiedad*/
    color: #ffffff;
    overflow: overlay;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: right;
}