.App {
    background-image: rgba(237, 237, 237, 1);
    background-repeat: repeat;
    background-size: contain;
}

@media (prefers-color-scheme: dark) {
    .App {
        background-color: rgb(40, 40, 40);
        background-repeat: repeat;
        background-size: contain;
    }
}